---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
        <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
        {% endif %}

        <p>Loves educational technology, material design, oxford commas, and personal finance.</p>

        <hr />
        <nav>
          <ul class="fa-ul">
            <li class="nav-item">
              <a href="https://github.com/gabelew">GitHub</a>
              <span class="fa fa-github fa-lg nav-item-icon"></span>
            </li>
            <li class="nav-item">
              <a href="https://www.linkedin.com/in/gabelew">LinkedIn</a>
              <span class="fa fa-linkedin fa-lg nav-item-icon"></span>
            </li>
            <li class="nav-item">
                <script>
                    var username = "gabe";
                    var hostname = "gabelew.com";
                    var linktext = username + "@" + hostname;
                    document.write ("<a href='" + "mail" + "to:" + username + "@" + hostname +"'>" + linktext + "</a>");
                </script>
                <span class="fa fa-envelope fa-lg nav-item-icon"></span>
            </li>
          </ul>
        </nav>
    </header>
    <main>
      {% if site.compass.include_content %}
      <div class="content">
        {% include content.html %}
      </div>
      {% endif %}
    </main>
</div>
