<h2>Projects</h2>
<ul class="project list">
  <li>Contact List Widget (<a href="http://vanilla-js.com/">VanillaJS</a>, HTML, CSS) <a href="http://codepen.io/gabelew/full/xGovem">Demo</a> | <a href="http://codepen.io/gabelew/pen/xGovem">Codepen</a></li>
  <li>Football Ranking App (AngularJS, Bootstrap) <a href="https://gofutbol.firebaseapp.com/">Demo</a> | <a href="https://github.com/gabelew/futbolapp">Source</a></li>
  <li>Frogger (Object-Oriented JS) <a href="https://frogger.firebaseapp.com/">Play</a> | <a href="https://github.com/gabelew/oo-js-frogger">Source</a></li>
  <li>Restaurant Recommendation App (MEAN stack) <a href="https://github.com/ktk10191/juno">Source</a></li>
  <li>USC Bathroom Locator (Java, Android) <a href="https://github.com/gabelew/USCBathroomLocator">Source</a></li>
  <li>PartyMap (JavaScript, Bootstrap) <a href="https://blinding-torch-598.firebaseapp.com/">Demo</a> | <a href="https://github.com/howdyjessie/partymap">Source</a></li>
  <li>SimCity Simulator (Java) <a href="https://www.youtube.com/watch?v=WNWzC1E_mdw">Video</a> | <a href="https://github.com/gabelew/SimCity201">Source</a></li>
</ul>
