<h2>Currently looking for a full-time web engineer position.</h2>
<p>I am a recent USC CS grad based in Los Angeles passionate about educational technology and startups.</p>

<h2>Projects</h2>
<ul>
  <li>Contact List Widget (Vanilla JS, HTML, CSS) <a href="http://codepen.io/gabelew/full/xGovem">Demo</a> | <a href="http://codepen.io/gabelew/pen/xGovem">Codepen</a></li>
  <li>Football Ranking App (AngularJS, Bootstrap) <a href="https://gofutbol.firebaseapp.com/">Demo</a></li>
  <li>Frogger (Object-Oriented JS) <a href="https://frogger.firebaseapp.com/">Play</a> | <a href="https://github.com/gabelew/oo-js-frogger">Source</a></li>
  <li>Restaurant Recommendation App (MEAN stack) <a href="https://github.com/ktk10191/juno">Source</a></li>
  <li>USC Bathroom Locator (Java, Android) <a href="https://github.com/gabelew/USCBathroomLocator">Source</a></li>
  <li>PartyMap (JavaScript, Bootstrap) <a href="https://blinding-torch-598.firebaseapp.com/">Demo</a> | <a href="https://github.com/howdyjessie/partymap">Source</a></li>
  <li>SimCity Simulator (Java) <a href="https://www.youtube.com/watch?v=WNWzC1E_mdw">Video</a> | <a href="https://github.com/gabelew/SimCity201">Source</a></li>
</ul>
